{% extends 'base_auth.html' %}
{% block title %}New Stage - SprintHub{% endblock %}

{% block content %}
    <div class="form-header">
        <h1>Add a stage</h1>
        <p>Create a new stage for this project.</p>
    </div>

    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="input-group">
            {{ form.project.as_hidden }}
        </div>

        <div class="input-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <button type="submit" class="btn-primary">Save Stage</button>
    </form>

  
{% endblock %}